@model IEnumerable<SMS.ViewModels.Allocation.StudentAllocationGroupByStudentViewModel>

<style>
    .studentAllocationTableHeader {
        background-color: #E6E6FA;
        padding: 40px;
    }
</style>

@if (Model != null && Model.Any())
{
    foreach (var student in Model)
    {
        <div class="card mb-3 card-body">
            <div class="card-header studentAllocationcardHeader">
                <div class="bg-light">
                    <strong>Student - </strong>@student.StudentName  (@student.StudentRegNo)
                </div>
                <div>
                    @if (student.isEnable)
                    {
                        <button type="button" class="btn btn-success" onclick="toggleEnable('@student.StudentID', false, '@student.StudentName')">
                            <i class="bi bi-toggle-on"></i>
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-danger" onclick="toggleEnable('@student.StudentID', true, '@student.StudentName')">
                            <i class="bi bi-toggle-off"></i>
                        </button>
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered studentAllocationTable">
                            <thead>
                                <tr class="studentAllocationTableHeader">
                                    <th>Teacher</th>
                                    <th>Subject</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var teacher in student.subjectAllocations)
                                {
                                    int subjectCount = teacher.SubjectAllocations.Count();
                                    bool isFirstRow = true;

                                    foreach (var subject in teacher.SubjectAllocations)
                                    {
                                        <tr>
                                            @if (isFirstRow)
                                            {
                                                <td rowspan="@subjectCount" class="align-middle Teacher-grp">@teacher.TeacherName (@teacher.TeacherRegNo)</td>
                                                isFirstRow = false;
                                            }

                                            <td>@subject.SubjectName (@subject.SubjectCode)</td>

                                            <td>
                                                <button type="button" class="btn btn-sm btn-danger" onclick="deleteStudentAllocation(@subject.StudentAllocationID)">
                                                    <i class="bi bi-trash small-icons"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                        <div class="delete-allocation mt-2">
                            <button type="button" class="btn btn-sm btn-danger" onclick="deleteAllStudentAllocations(@student.StudentID)">
                                <i class="bi bi-trash small-icons"></i> Delete This Student Allocations
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-warning" role="alert">
        No data found.
    </div>
}
