@model IEnumerable<SMS.ViewModels.Allocation.SubjectAllocationGroupByTeacherViewModel>

<div class="container ">
    @if (Model != null && Model.Any())
    {
        foreach (var teacher in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    <h3>Teacher</h3> @teacher.TeacherName (@teacher.TeacherRegNo)
            </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Subjects</h3>
                            @foreach (var subject in teacher.SubjectAllocations)
                            {
                                <div class="d-flex align-items-center mb-2">
                                    <div class="me-auto">
                                        <p class="mb-0"><strong>@subject.SubjectName</strong> (@subject.SubjectCode)</p>
                                    </div>
                                    <div class="ms-3">
                                        <button type="button" class="btn btn-sm btn-primary" id="editBtn_@subject.SubjectAllocationID" onclick="editTeacherSubjectAllocation(@subject.SubjectAllocationID)"><i class="bi bi-pencil-fill"></i></button>
                                        <button type="button" class="btn btn-sm btn-danger" id="deleteBtn_@subject.SubjectAllocationID" onclick="deleteTeacherSubjectAllocation(@subject.SubjectAllocationID)"><i class="bi bi-trash"></i></button>
                                        <script>
                                            $.ajax({
                                                url: '/Allocation/IsAllocated',
                                                data: { id: '@subject.SubjectAllocationID' },
                                                success: function (response) {
                                                    if (response) {
                                                        $('#editBtn_@subject.SubjectAllocationID,#deleteBtn_@subject.SubjectAllocationID').hide();

                                                    }

                                                },
                                            });
                                        </script>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
