@if (Model != null && Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Registration No</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Display Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>DOB</th>
                    <th>Address</th>
                    <th>Contact No</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teacher in Model)
                {
                    <tr>
                        <td>@teacher.TeacherRegNo</td>
                        <td>@teacher.FirstName</td>
                        <td>@teacher.MiddleName</td>
                        <td>@teacher.LastName</td>
                        <td>@teacher.DisplayName</td>
                        <td>@teacher.Email</td>
                        <td>@teacher.Gender</td>
                        <td>@teacher.DOB</td>
                        <td>@teacher.Address</td>
                        <td>@teacher.ContactNo</td>
                        <td>
                            @if (teacher.IsEnable)
                            {
                                <button type="button" class="btn btn-success" onclick="toggleEnable('@teacher.TeacherID', false,'@teacher.DisplayName')"><i class="bi bi-toggle-on"></i></button>

                            }
                            else
                            {
                                <button type="button" class="btn btn-danger" onclick="toggleEnable('@teacher.TeacherID', true,'@teacher.DisplayName')"><i class="bi bi-toggle-off"></i></button>
                            }
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" id="editBtn_@teacher.TeacherID" onclick="editTeacher('@teacher.TeacherID')"><i class="bi bi-pencil-fill"></i></button>
                            <button type="button" class="btn btn-danger" id="deleteBtn_@teacher.TeacherID" onclick="deleteTeacher('@teacher.TeacherID')"><i class="bi bi-trash"></i></button>

                            <script>
                                $.ajax({
                                    url: '/Teacher/IsAllocated',
                                    data: { id: '@teacher.TeacherID' },
                                    success: function (response) {
                                        if (response) {
                                            $('#editBtn_@teacher.TeacherID,#deleteBtn_@teacher.TeacherID').hide();

                                        }

                                    },
                                });
                            </script>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No results found.</p>
}


